/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Adobe Arabic';
  src: url('/fonts/AdobeArabic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('/fonts/HelveticaNeueLTStd-Bd.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
:root {
  --color-primary: #181818;
  --color-secondary: #ffffff;
}

body {
  font-family: 'Helvetica Neue LT Std', serif;
  background-color: var(--color-secondary);
  line-height: normal;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
/* --------fonts-------- */
body,
p {
  font-size: 8px;
  color: var(--primary-light);
}
h2 {
  font-size: 10em;
}
h3 {
  font-size: 5.87em;
}
h4 {
  font-size: 2.5em;
}
h5 {
  font-size: 2em;
}
.section {
  height: 100vh;
  scroll-snap-align: start;
}
.re {
  opacity: 0;
  position: relative;
}

.section-snap {
  overflow: hidden;
}

.think {
  position: relative;
  display: inline-block;
  left: -2.5rem;
}
/* ----------responsiveness---------- */
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
  h4 {
    font-size: 2em;
  }
  h5 {
    font-size: 1.5em;
  }
}
@media (max-width: 992px) {
  h4 {
    font-size: 2em;
  }
  h5 {
    font-size: 1.5em;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 7em;
  }
  h4 {
    font-size: 1.5em;
  }
  .last-section-text {
    font-size: 3em;
  }
}
@media (max-width: 576px) {
  h3 {
    font-size: 3.8em;
  }
  .rethink-text {
    font-size: 5.3em;
  }
  .what-is-creo {
    font-size: 2em;
  }
}
